.venv
__pycache__
.git
*.pyc
*.wav
*.parquet
*.zip
FoR_dataset
in-the-wild-audio-deepfake
elevenlabs-dataset
.idea
.zip
.aux
.log
.out
.pdf
.txt
.docx
.doc
.xls
.xlsx
.pptx
.ppt
.xls
.xlsx
.tex
