.venv/
.idea/
in-the-wild-audio-deepfake/
for-dataset/
pycache/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
metadata/
.env
PROMPTS.md
*.parquet
*.csv
*.pkl
FoR_dataset/
configs/config_local.py
notebooks/experiments
*.log
FoR_dataset
