# Core ML / Audio
librosa==0.11.0
soundfile==0.13.1
pydub==0.25.1
scikit-learn==1.7.2
xgboost==3.1.2

# Data
numpy==2.3.4
pandas==2.3.3
scipy==1.16.3
pyarrow==23.0.0

# Visualization
matplotlib==3.10.7
seaborn==0.13.2

# Utilities
joblib==1.5.2
tqdm==4.67.1

# Jupyter
ipykernel==7.1.0
